<!DOCTYPE html>
<head>
<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
<title>Hevoset - Tallitietokanta</title>
</head>
<body>
<h1>Hevosen lisäys</h1>
<p>
<form action="/add_horse" method="POST">
Nimi: <input type="text" name="name" required minlength="1" maxlength="20" size="20">
<br>
Syntymävuosi: <input type="number" name="year" min="1990" max="2023" size="5" value="1990">
<br>
Maksimitunnit: 
<select name="lessons">
<option value="0"> 0
<option value="1"> 1
<option value="2"> 2
<option value="3"> 3
</select>
<br>
Rehu:
<input type="radio" name="feed" value="Säilöheinä" checked> Säilöheinä
<input type="radio" name="feed" value="Kuivaheinä"> Kuivaheinä
<br>
Rehumäärä päivässä (kg): <input type="number" name="amount" min="0" max="40" value="0" size="5">
<br>
<input type="submit" value="Lisää">
</form>
</p>
<h1>Hevoset</h1>
<p>
<table>
<tr><th>Nimi</th><th>Syntymävuosi</th><th>Maksimitunnit</th><th>Rehu</th><th>Rehumäärä</th></tr>
{% for horse in horse_list %} 
<tr><td>{{ horse.horse_name }}</td><td>{{ horse.birthyear }}</td><td>{{ horse.max_lessons }}</td><td>{{ horse.feed }}</td><td>{{ horse.feed_amount }}</td></tr>
{% endfor %}
</table>
</p>
<p>
<form action="/remove_horse" method="POST">
Poista hevonen (nimi): <input type="text" name="name" size="20">
<br>
<input type="submit" value="Poista">
</form>
</p>
<h1>Hevoset rehun mukaan</h1>
<p>
<form action="/filter_feed" method="POST">
Suodata hevosia rehun mukaan: 
<input type="radio" name="feed" value="Säilöheinä" checked> Säilöheinä
<input type="radio" name="feed" value="Kuivaheinä"> Kuivaheinä
<input type="submit" value="Suodata">
</form>
</p>
<p>
<table>
<tr><th>Nimi</th><th>Rehu</th><th>Rehumäärä</th></tr>
{% for horse in feed_list %} 
<tr><td>{{ horse.horse_name }}</td><td>{{ horse.feed }}</td><td>{{ horse.feed_amount }}</td></tr>
{% endfor %}
</table>
</p>
<p>
Rehua yhteensä päivässä (kg): {{ feed_sum }}
</p>
<a href="/">Etusivu</a>
</body>