<!DOCTYPE html>
<head>
<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
<title>Tunnit - Tallitietokanta</title>
</head>
<body>
<h1>Tunnin luonti</h1>
<form action="/add_lesson" method="POST">
Tunnin taso: <br>
<input type="radio" name="level" value="PM"> Perusmerkki
<input type="radio" name="level" value="HC"> Helppo C 
<input type="radio" name="level" value="HB"> Helppo B 
<input type="radio" name="level" value="HA"> Helppo A
<br>
Tunnin hinta (kokonaisluku): <input type="number" name="price" min="0" size="5">
<br>
Oppilaiden määrä:
<select name="number">
<option value="1"> 1
<option value="2"> 2
<option value="3"> 3
<option value="4"> 4
<option value="5"> 5
<option value="6"> 6
<option value="7"> 7
<option value="8"> 8
<option value="9"> 9
</select>
<br>
Tunnin päivämäärä: <input type="date" name="date" size="10">
<br>
Tunnin alkamisaika: <input type="time" name="time" size="5">
<br>
<input type="submit" value="Lisää">
</form>
<br>
<h1>Tuntilista</h1>
<table>
<tr><th>Tunnus</th><th>Taso</th><th>Hinta</th><th>Paikkoja</th><th>Päivä</th><th>Aika</th></tr>
{% for lesson in lesson_list %} 
<tr><td>{{ lesson.id }}</td><td>{{ lesson.skill_level }}</td><td>{{ lesson.price }}</td><td>{{ lesson.max_riders }}</td><td>{{ lesson.lesson_date }}</td><td>{{ lesson.lesson_time }}</td></tr>
{% endfor %}
</table>
<br>
<a href="/">Etusivu</a>
</body>