<!DOCTYPE html>
<title>Tallitietokanta</title>
<h1>Tallitietokanta</h1>
{% if session.username %}
<h2>Ylläpitäjän toiminnot:</h2>
<ul>
    <li><a href="admin_lessons">Tuntien lisäys</a></li>
    <li><a href="admin_horses">Hevosten lisäys</a></li>
</ul>
<h2>Opettajan toiminnot:</h2>
<ul>
    <li><a href="teacher_lessons">Tuntien ja hevosten tarkastelu</a></li>
</ul>
<h2>Oppilaan toiminnot:</h2>
<ul>
    <li><a href="student_add_lesson">Ilmoittaudu tunnille</a></li>
    <li><a href="student_own_lessons">Tarkastele omia tunteja</a></li>
</ul>
<br>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<form action="/login" method="POST">
<p>Käyttäjätunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu sisään">
</form>
<br>
<a href="/new_account">Luo tili</a>
{% endif %}