<!DOCTYPE html>
<title>Tallitietokanta</title>
<h1>Tallitietokanta</h1>
<h2>Ylläpitäjän toiminnot:</h2>
<ul>
    <li><a href="admin_lessons">Tuntien lisäys</a></li>
    <li><a href="admin_horses">Hevosten lisäys</a></li>
</ul>
<h2>Opettajan toiminnot:</h2>
<ul>
    <li><a href="teacher_lessons">Tuntien ja hevosten tarkastelu</a></li>
</ul>
<h2>Oppilaan toiminnot:</h2>
<ul>
    <li><a href="student_add_lesson">Ilmoittaudu tunnille</a></li>
    <li><a href="student_own_lessons">Tarkastele omia tunteja</a></li>
</ul>