<!DOCTYPE html>
<h1>Luo uusi tili</h1>
<form action="/create_account" method="POST">
Käyttäjätunnus (1-15 merkkiä): <input type="text" name="username" size="20">
<br>
Nimi (1-15 merkkiä): <input type="text" name="name" size="20">
<br>
Salasana (8-20 merkkiä): <input type="password" name="password" size="20">
<br>
Toista salasana: <input type="password" name="password2" size="20">
<br>
Valitse rooli: <br>
<input type="radio" name="role" value="Ratsastaja"> Ratsastaja
<br>
<input type="submit" value="Luo tili">
</form>