<!DOCTYPE html>
<head>
<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
<title>Hevoset ja tunnit - Tallitietokanta</title>
</head>
<body>
<h1>Tunnit</h1>
<table>
<tr><th>Tunnus</th><th>Taso</th><th>Hinta</th><th>Paikkoja</th><th>Päivä</th><th>Aika</th></tr>
{% for lesson in lesson_list %} 
<tr><td>{{ lesson.id }}</td><td>{{ lesson.skill_level }}</td><td>{{ lesson.price }}</td><td>{{ lesson.max_riders }}</td><td>{{ lesson.lesson_date }}</td><td>{{ lesson.lesson_time }}</td></tr>
{% endfor %}
</table>
<br>
<h1>Hevoset</h1>
<table>
<tr><th>Nimi</th><th>Syntymävuosi</th><th>Maksimitunnit</th><th>Rehu</th><th>Rehumäärä</th></tr>
{% for horse in horse_list %} 
<tr><td>{{ horse.horse_name }}</td><td>{{ horse.birthyear }}</td><td>{{ horse.max_lessons }}</td><td>{{ horse.feed }}</td><td>{{ horse.feed_amount }}</td></tr>
{% endfor %}
</table>
<br>
<h1>Ratsastajat</h1>
<table>
<tr><th>Nimi</th></tr>
{% for rider in rider_list %}
<tr><td>{{ rider.rider_name }}</td></tr>
{% endfor %}
</table>
<br>
<h1>Tunnin ratsastajat</h1>
<form action="/select_lesson" method="POST">
<select name="individual_lesson">
{% for lesson in lesson_list %}
<option value="{{ lesson.id }}">{{ lesson.id }}</option>
{% endfor %}
</select>
<input type="submit" value="Näytä">
</form>
<br>
<table>
<tr><th>Nimi</th><th>Hevonen</th></tr>
{% for rider in lesson_riders %} 
<tr><td>{{ rider.rider_name }}</td><td>{{ rider.horse_name }}</td></tr>
{% endfor %}
</table>
<p>
Muokkaa ratsastajan hevosta: <br>
<form action="/change_horse" method="POST">
<select name="lesson">
{% for lesson in lesson_list %}
<option value="{{ lesson.id }}">{{ lesson.id }}</option>
{% endfor%}
</select> 
<br>
<select name="rider">
{% for rider in rider_list %}
<option value="{{ rider.rider_name }}">{{ rider.rider_name }}</option>
{% endfor %} 
</select> 
<br>
<select name="horse">
{% for horse in horse_list %}
 <option value="{{ horse.horse_name }}">{{ horse.horse_name }}</option>
{% endfor %}
</select>
<br>
<input type="submit" value="Muuta">
</form>
</p>
<h1>Lisää ratsastaja tunnille</h1>
<form action="/add_rider" method="POST">
<select name="lesson">
{% for lesson in lesson_list %}
<option value="{{ lesson.id }}">{{ lesson.id }}</option>
{% endfor%}
</select> 
<br>
<select name="rider">
{% for rider in rider_list %}
<option value="{{ rider.rider_name }}">{{ rider.rider_name }}</option>
{% endfor %} 
</select> 
<br>
<select name="horse">
{% for horse in horse_list %}
<option value="{{ horse.horse_name }}">{{ horse.horse_name }}</option>
{% endfor %}
</select>
<br>
<input type="submit" value="Lisää">
</form>
<br>
<br>
<a href="/">Etusivu</a>
</body>